.header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.06),
    0 0 2px rgba(0, 0, 0, 0.07);
    z-index: 2;
    background-color: white;
    
}

.header__menuPage {
    position: fixed;
    top: 0;
    left: 0;
    width: 95%;
}

.header__logo > img {
    object-fit: contain;
    height: 50px;
}

.header__logo {
    margin-right: 25px;
}

.header__left {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 100%;
}

.header__left > a , .header__logout > a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1.4px;
    opacity: .87;
    text-transform: uppercase;
    height: 100%;
    display: flex;
    align-items: center;
}

.header__left > a:hover , .header__logout > a:hover {
    color: #008248;
    transition: all 0.1s;
}

.header__right {
    display: flex;
    align-items: center;
    gap: 20px;
}

@media (max-width: 768px) {
    .header__left > .header__link {
        display: none;
    }

    .header__right > a , .header__right > button {
        display: none;
    }

    .header__menuPage {
        position: inherit;
    }

    .header__logout {
        display: none;
    }
}


